.pomodoro-container {
    position: absolute;
    top: 100px; /* Distance from the top of the window */
    left: 30px; /* Distance from the left of the window */
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays on top */
    height: 400px;
    width: 1000px;
    opacity: 0.8;
}

#pomodoro-timer {
    font-size: 5em;
    font-family: 'comic Sans';
    margin-bottom: 100px;
    font-weight: bold;
}

.pomodoro-container .btn {
    margin: 5px;
}